body{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
@media (max-width: 991px){
    body{
        margin-top: 50px;
    }
}
a:hover{
    text-decoration: none;
}

/*Start Menu In Small Screen*/

.small-menu{
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 6;
}
.small-menu .container-fluid{
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    z-index: 2;
}
.small-menu .top .button > span{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.small-menu .top .button > span > span.bullet > span{
    width: 24px;
    height: 4px;
    background-color: #000;
    margin-bottom: 4px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -ms-transform-origin: 50%;
    -o-transform-origin: 50%;
    transform-origin: 50%;
    top: 0;
    opacity: 1
}
.small-menu .top .button > span > span.bullet.anim > span:first-child{
    top: 8px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.small-menu .top .button > span > span.bullet.anim > span:nth-child(2){
    opacity: 0;
}
.small-menu .top .button > span > span.bullet.anim > span:last-child{
    top: -8px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.small-menu .top .button h2{
    color: #000;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 0;
}
.small-menu .top .button > span > span:last-child{
    margin-bottom: 0;
}
.small-menu .side-menu{
    z-index: 1;
}
.small-menu .side-menu .overlay{
    display: none;
}
.small-menu .side-menu .overlay .menu{
    background-color: #fff;
    width: 250px;
    padding-top: 20px;
    -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
    bottom: 0;
    top: 50px;
    overflow: auto;
    left: -250px;
}
.small-menu .side-menu .overlay .menu ul li a{
    color: #666;
    font-size: 0.875rem;
    font-weight: 300;
    padding: 14px 20px 14px 31px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.small-menu .side-menu .overlay .menu ul li:not(.active) a:hover{
    color: #fff;
    background-color: #67acbc;
}
.small-menu .side-menu .overlay .menu ul li.active a{
    background-color: #f5f5f5;
}
.small-menu .side-menu .overlay .menu ul li a[class*="position-relative"] > span{
    top: 50%;
    right: 12px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.small-menu .side-menu .overlay .menu ul li a[class*="position-relative"] > span.rotate{
    -webkit-transform: translateY(-50%) rotate(-180deg);
    -moz-transform: translateY(-50%) rotate(-180deg);
    -ms-transform: translateY(-50%) rotate(-180deg);
    -o-transform: translateY(-50%) rotate(-180deg);
    transform: translateY(-50%) rotate(-180deg);
}
.small-menu .side-menu .overlay .menu ul li a[class*="position-relative"] > span:hover{
    background-color: #fff;
    color: #666;
}
.small-menu .side-menu .overlay .menu ul.sub li a{
    padding-left: 45px;
}
.small-menu .side-menu .overlay .menu ul.sub-2 li a{
    padding-left: 59px;
}
.small-menu .side-menu .overlay .menu ul.sub{
    display: none;
}

/*End Menu In Small Screen*/
/*Start Navbar*/

.navbar-section{
    background-color: #fff;
    z-index: 5;
}
.navbar-section.fixed{
    border-bottom: 4px solid #67acbc;
    top: 0;
    left: 0;
}
.navbar-section.fixed .navbar{
    padding: 0;
}
.navbar-section .navbar{
    padding: 15px 0;
}
.navbar-section .navbar .navbar-brand{
    padding: 0;
    font-size: 1.25rem;
    line-height: normal;
}
.navbar-section .navbar .navbar-brand span:first-child{
    color: #67acbc;
    font-weight: 900;
    font-size: 3.125rem;
}
.navbar-section .navbar .navbar-brand span:nth-child(2){
    color: #888;
}
.navbar-section .navbar .navbar-brand span:last-child{
    color: #333;
}
.navbar-section .navbar .navbar-nav > li:not(:last-child){
    margin-right: 10px;
}
.navbar-section .navbar .navbar-nav > li a{
    font-size: 0.875rem;
    font-weight: 700;
    color: #67acbc !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.navbar-section .navbar .navbar-nav > li a:hover{
    color: #333333 !important;
}
.navbar-section .navbar .navbar-nav > li.active a{
    color: #333333 !important;
}
.navbar-section .navbar .navbar-nav > li a.position-relative:before{
    content: "\f0dd";
    font-family: Font Awesome\ 5 Free;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 17px;
    font-size: 0.7rem
}
.navbar-section .navbar .navbar-nav .sub{
    left: 0;
    background-color: #333;
    padding: 20px 0;
    min-width: 130px;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    display: none;
}
.navbar-section .navbar .navbar-nav .sub li a{
    color: #fff !important;
    padding: 5px 15px;
    font-weight: 500;
    opacity: 0;
}
.navbar-section .navbar .navbar-nav .sub li a:hover{
    background-color: #67acbc;
}
.navbar-section .navbar .navbar-nav .sub.sub-2{
    left: 100%;
    top: 0;
}

/*End Navbar*/
/*Start Hero Area*/
/*Combine With (Section, Section-2)*/
.hero-area,
.section,
.section-2{
    background-image: url(../images/hear-area/parallax1.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.hero-area .text,
.section .row:first-child .text,
.section-2 .text{
    background-color: rgba(103, 172, 188, 0.8);
    color: #fff;
    padding: 100px 35px;
}
.hero-area .text h2,
.section .text h2,
.section-2 .text h2{
    font-size: 1.5rem;
}
.hero-area .text h2 span:first-child,
.section .text h2 span:first-child,
.section-2 .text h2 span:first-child{
    font-weight: 800;
}
.hero-area .text h2 span:last-child,
.section .text h2 span:last-child,
.section-2 .text h2 span:last-child{
    font-weight: 400;
}
@media (min-width: 400px){
    .hero-area .text h2,
    .section .text h2,
    .section-2 .text h2{
        font-size: 2rem;
    }
}
@media (min-width: 550px){
    .hero-area .text h2,
    .section .text h2,
    .section-2 .text h2{
        font-size: 2.5rem;
    }
}
@media (min-width: 992px){
    .hero-area .image img,
    .section .image img{
        left: -429px;
    }
}
@media (min-width: 1200px){
    .hero-area .image img,
    .section .image img{
        left: -434px;
    }
}

/*End Hero Area*/
/*Start Offering Great Expertise*/
/*Combine With (Section)*/

.offer .text{
    background-color: #333;
}
.offer .image .overflow{
    background-color: transparent;
    left: 0px;
}
.offer .image img{
    z-index: 2;
}
.offer .text .info,
.section .row:last-child .text .info{
    padding: 40px 15px;
}
.offer .text .info h3,
.section .row:last-child .text .info h3{
    font-size: 1.5625rem;
}
.offer .text .info h3:first-child,
.section .row:last-child .text .info h3:first-child{
    color: #fff;
    font-weight: 800;
}
.offer .text .info h3:nth-child(2),
.section .row:last-child .text .info h3:nth-child(2){
    color: #67acbc;
    font-weight: 400;
}
.offer .text .info p,
.section .row:last-child .text .info p{
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.7;
    margin-bottom: 0;
    margin-top: 25px;
}
@media (min-width: 450px){
    .offer .text .info,
    .section .row:last-child .text .info{
        padding: 40px 30px;
    }
}
@media (min-width: 992px){
    .offer .container{
        background-color: #333;
    }
    .offer .image .overflow{
        background-color: #fff;
        z-index: 1;
        left: -15px;
    }
    .offer .text .info,
    .section .row:last-child .text .info{
        padding: 40px 0px;
    }
}
@media (min-width: 1200px){
    .offer .text .info h3,
    .section .row:last-child .text .info h3{
        font-size: 1.875rem;
    }
}

/*End Offering Great Expertise*/
/*Start Features*/

.features{
    padding-top: 65px;
    padding-bottom: 100px;
    counter-reset: number;
}
.features [class^="col"]:not(:last-child) .feat{
    margin-bottom: 20px;
}
.features .feat .head h3{
    font-size: 1.875rem;
    padding-top: 74px;
    padding-left: 70px;
}
.features [class^="col"]:nth-child(2) .feat .head h3,
.features [class^="col"]:nth-child(3) .feat .head h3{
    padding-left: 110px;
}
.features .feat .head h3:before{
    counter-increment: number;
    content: counter(number);
    font-family: "Montserrat", sans-serif;
    color: #67acbc;
    font-weight: 400;
    opacity: 0.15;
    font-size: 9.375rem;
    position: absolute;
    left: 0;
    top: 0;
}
.features .feat .head h3 span:first-child{
    color: #67acbc;
    font-weight: 800;
    margin-bottom: 5px;
}
.features .feat .head h3 span:last-child{
    color: #333;
    font-weight: 400;
}
.features .feat p{
    margin-top: 20px;
    margin-bottom: 0;
    color: #888;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.7;
}
@media (min-width: 992px){
    .features [class^="col"]:not(:last-child) .feat{
        margin-bottom: 0px;
    }
}

/*End Features*/
/*Start Section*/

.section{
    background-image: url(../images/section/parallax2.jpg);
    overflow-x: hidden;
}
.section .row:last-child:after,
.section .row:last-child .text{
    background-color: rgba(51, 51, 51, 0.8);
}
.section .row:last-child .text .info h3:nth-child(2){
    color: #fff;
}
@media (min-width: 992px){
    .section .row:last-child{
        background-color: rgba(51, 51, 51, 0.8);
    }
    .section .row:last-child:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
    }
    .section .row:last-child .text{
        left: -480px;
    }
    .section .row:last-child .text{
        background-color: transparent;
    }
}
@media (min-width: 1200px){
    .section .row:last-child .text{
        left: -666px;
    }
}

/*End Section*/
/*Start Section 2*/

.section-2{
    background-image: url(../images/section-2/parallax3.jpg);
}
.section-2 .text{
    background-color: #fff;
}
.section-2 .text h2 span:first-child{
    color: #67acbc;
}
.section-2 .text h2 span:last-child{
    color: #333;
}

/*End Section 2*/
/*Start Section 3*/

.section-3 .left{
    padding-top: 30px;
    padding-bottom: 50px;
}
.section-3 .left h3{
    font-size: 1.5625rem;
    line-height: 1.45;
}
.section-3 .left h3 span:first-child{
    color: #67acbc;
    font-weight: 800;
}
.section-3 .left h3 span:last-child{
    font-weight: 400;
    color: #333;
}
.section-3 .left .list ul{
    margin-bottom: 0;
    line-height: 2.4;
    margin-top: 20px;
}
.section-3 .left .list ul li a{
    color: #67acbc;
    font-weight: 500;
    font-size: 1rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.section-3 .left .list ul li a:hover{
    color: #333;
}
.section-3 .right .text{
    padding-top: 30px;
    padding-bottom: 60px;
}
.section-3 .right .text .info h3{
    font-size: 1.5625rem;
    margin-bottom: 0;
}
.section-3 .right .text .info h3 span:first-child{
    color: #67acbc;
    font-weight: 800;
}
.section-3 .right .text .info h3 span:last-child{
    color: #333;
    font-weight: 400;
}
.section-3 .right .text .info button{
    color: #fff;
    background-color: #67acbc;
    font-weight: 800;
    font-size: 0.8125rem;
    padding: 15px 30px;
    margin-top: 22px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden
}
.section-3 .right .text .info button:hover{
    color: #67acbc;
    background-color: rgba(103, 172, 188, 0.22);
}
.section-3 .right .text .info button:hover:before{
    -webkit-animation: effect 0.7s forwards;
    -moz-animation: effect 0.7s forwards;
    -ms-animation: effect 0.7s forwards;
    -o-animation: effect 0.7s forwards;
    animation: effect 0.7s forwards;
}
.section-3 .right .text .info button:before{
    content: "";
    position: absolute;
    width: 150px;
    height: 15px;
    background-color: #fff;
    top: 50px;
    left: -100px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
}
.section-3 .right .text .info button span{
    z-index: 2;
}
@-webkit-keyframes effect{
    0%{
        top: 50px;
        left: -100px;
    }
    100%{
        top: -50px;
        left: 100px;
    }
}
@-moz-keyframes effect{
    0%{
        top: 50px;
        left: -100px;
    }
    100%{
        top: -50px;
        left: 100px;
    }
}
@-ms-keyframes effect{
    0%{
        top: 50px;
        left: -100px;
    }
    100%{
        top: -50px;
        left: 100px;
    }
}
@-o-keyframes effect{
    0%{
        top: 50px;
        left: -100px;
    }
    100%{
        top: -50px;
        left: 100px;
    }
}
@keyframes effect{
    0%{
        top: 50px;
        left: -100px;
    }
    100%{
        top: -50px;
        left: 100px;
    }
}
@media (min-width: 992px){
    .section-3 .left{
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .section-3 .left h3{
        font-size: 1.875rem;
        line-height: 1.45;
    }
    .section-3 .right .text{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .section-3 .container > .row > [class^="col"]:first-of-type{
        padding-right: 0;
    }
    .section-3 .container > .row > [class^="col"]:last-of-type{
        padding-left: 0;
    }
    .section-3 .container > .row > [class^="col"]:last-of-type .right .part .row [class^="col"]:first-of-type{
        padding-left: 0;
    }
}
@media (min-width: 1200px){
    .section-3 .right .text .info h3{
        font-size: 1.875rem;
    }
}

/*End Section 3*/
/*Start Footer*/

.footer{
    background-color: #67acbc;
    color: #fff;
}
.footer .info{
    padding-top: 100px;
    padding-bottom: 30px;
}
.footer .info p:first-child{
    margin-bottom: 5px;
}
.footer .info p:first-child a{
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
}
.footer .info p:nth-child(2){
    font-size: 1.875rem;
    font-weight: 400;
    margin-bottom: 45px;
}
.footer .info ul li{
    cursor: pointer;
    margin-right: 13px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.footer .info ul li:hover,
.footer .info .copyright a:hover{
    color: #333;
}
.footer .info .copyright{
    font-size: 0.875rem;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 0;
}
.footer .info .copyright a{
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*End Footer*/
/*Start Scroll To Top*/

.scroll-to-top{
    /*bottom: -20px;*/
    bottom: -50px;
    right: 40px;
    z-index: 999999;
    width: 50px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    background-color: #67acbc;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    -o-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-to-top:hover{
    background-color: #333;
}

/*End Scroll To Top*/









